/* src/components/Comment.css */

.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-user-info {
  display: flex;
  align-items: flex-start;
}

.comment-user-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-text {
  flex: 1;
  white-space: pre-wrap;
}

.comment-actions {
  margin-left: 10px;
}

.comment-actions button {
  margin-left: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-comment-textarea {
  flex: 1;
  height: 60px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.replies {
  margin-left: 20px; /* 답글 리스트 들여쓰기 */
}

.reply-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
}

.reply-button:hover {
  text-decoration: underline;
}