/* Chat.css */
.messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 메시지 간격 */
  }
  
  .message {
    max-width: 70%; /* 메시지 너비 */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px; /* 메시지 아래 여백 */
  }
  
  .sent {
    align-self: flex-end; /* 오른쪽 정렬 */
    background-color: #dcf8c6; /* 보낸 메시지 색상 */
  }
  
  .received {
    align-self: flex-start; /* 왼쪽 정렬 */
    background-color: #f1f1f1; /* 받은 메시지 색상 */
  }

  .create-post-form, .edit-post-form {
    width: 600px;
    max-height: 150px; /* 최대 높이를 150px로 설정 */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #e1e8ed;
    border-radius: 10px;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
  }


