
.footer {
    margin-top: 5.5rem;
    width: 100%;
    background-color: #f1f1f1;
    color: #4f4f4f;
}

.footer .footer-wrap {
    height: 200px;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.footer span {
    font-size: 14px;
    margin-right: 20px;
    text-align: center;
}

.footer .footer-copy{
    letter-spacing: 4px;
}

.footer .footer-wrap > p {
    width: 1px;
    height: 16px;
    background-color: #888;
    margin-right: 20px;
}

.footer .footer-policy {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 1280px) {
    .footer{
        padding: 16px 0;
    }

    .footer-wrap {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .footer-wrap > p {
        display: none; 
    }

    .footer span {
        margin-right: 0;
    }
}
