/* Navbar.css */

.navbarH {
    width: 100vw;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 0 4px #575f6434;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
  }
  
.navbarH .navbar-container {
    max-width: 1152px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 24px;
  }
  
  .navbarH .menu-mobile{
    display: none;
  }

  .navbarH .navbar-logo-container{
    margin-right: 56px;
    }

  .navbarH .navbar-logo-container a{
    display: block;
    height: 18px;
    }

.navbarH .navbar-logo-container .navbar-logo {
    height: 18px;
}
  
.navbarH .navbar-main-menu {
    display: flex;
    align-items: center;
  }
  
.navbarH .navbar-nav {
    list-style: none;
    display: flex;
    gap: 32px;
  }
  
.navbarH .nav-link {
    color: #333;
    text-decoration: none;
    font-size: 16px; /* 글자 크기 조정 */
    font-weight: bold;
    transition: 0.2s ease;
  }
  
.navbarH .nav-link:hover {
    color: #03C7A6;
  }
  
.navbarH .navbar-user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
  }
  
.navbarH .user-menu-logged-in, .user-menu-logged-out {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
.navbarH button.nav-link {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif !important;
  }

@media (max-width: 1280px) {
  
  .navbarH .navbar-main-menu{
    display: none;
  }

  .navbarH .navbar-container {
    justify-content: space-between;
  }

  .navbarH .navbar-logo-container a{
    display: block;
    height: 50px;
    }

  .navbarH .navbar-logo-container .navbar-logo {
    height: 18px;
    width: 42px;
    object-fit: cover;
    object-position: left;
    padding: 16px 8px 16px 0;
  }

  .navbarH .navbar-user-menu {
    display: none;
  }

  .navbarH .menu-mobile{
    display: block;
  }
}  
  