.product-home .prod-wrap .scroll-section h2{
  display: none;
}

.product-home .popular-products .navbar{
  display: none;
}

.product-home section{
    max-width: 1200px;
    margin: 0 auto;
  }

  .product-home .product-home {
    padding: 0;
  }

  /* 배너 */
  .product-home .banner {
    position: relative;
    width: 100vw;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .product-home .banner-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .product-home .prev-button, .product-home .next-button {
    position: absolute;
    width: 10%;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9;
    border: none;
    opacity: 75%;
    background: none;
    color: #fff;
  }

  .product-home .prev-button:hover polyline, .product-home .next-button:hover polyline{
    color: #03C7A6;
  }

  .product-home .prev-button {
    left: 0;
  }

  .product-home .next-button {
    right: 0;
  }

  /* 상품 섹션 */
  #shop_cont{
    margin: 0 auto;
  }

  .product-home .flex_box{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .product-home h2{
    font-size: 32px;
    text-align: left;
    margin: 88px 0 4px 0;
    max-width: 1200px;
    margin: 4rem auto 0.3rem auto;
  }

  .product-home .etc{
    font-size: 16px;
    text-align: left;
    color: #333;
    font-weight: 300;
  }


  .product-home .product-sections {
    margin-top: 20px;
  }

  .product-home .section h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .product-home .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .product-home .product-item {
    text-align: left;
    width: 23.5%;
    border-radius: 5px;
    background-color: #fff;
  }

  .product-home .product-item{
    margin-bottom: 3rem;
  }

  .product-home .product-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .prod_name{
    font-size: 18px;
  }

  .prod_price{
    font-size: 22px;
    font-weight: 700;
    color: #03C7A6;
  }

  .prod_count{
    font-size: 16px;
    color: #888;
  }


  /*ad*/
  .product-home .ad{
    width: 100%;
    height: 360px;
    background: url("../img/ad1.jpg") center center/cover fixed;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .product-home .ad p{
    color: #fff;
  }

  .product-home .ad p:first-child{
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 300;
  }

  .product-home .ad p:nth-child(2){
    font-size: 16px;
    margin-bottom: 32px;
  }

  .product-home .ad a{
    margin: 0 auto;
    padding: 12px 64px;
    border: 1px solid #fff ;
    color: #fff;
  }


  .product-home .ad a:hover{
    background-color: #ffffff56;
    opacity: 100%;
    transition: 0.8s ease;
    text-decoration: none;
  }
  
@media (max-width: 1280px) {
  .product-home .prev-button svg, .product-home .next-button svg{
    width: 32px;
  }

  .product-home section{
    width: 100vw;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: scroll;
  }

  .product-home section::-webkit-scrollbar {
    display: none;
  }
  
  .product-home .popular-products>h2, .product-home .popular-products>.flex_box {
    padding: 0 20px;
  }

  .product-home .ad{
    padding: 0 20px;
    box-sizing: border-box;
  }

  .product-home .ad p:first-child{
    font-size: 20px;
  }
  
  .product-home .product-list {
    display: flex;
    width: 1200px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 0;
  }

  @media (max-width: 1200px){
    .product-home .flex_box {
      display: none !important;
    }

    .product-home h2{
      margin-bottom: 3rem;
      text-align: center;
    }
  }



}


