.faq-list {
  margin: 20px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-toggle {
  font-size: 18px;
}

.operating-hours {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

.operating-hours-details p {
  margin: 5px 0;
}

.kakao-button {
  background-color: #f7e03c; /* 카카오톡 색상 */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.kakao-button:hover {
  background-color: #f0c800; /* 호버 효과 */
}

