.update-ask-container {
    max-width: 600px; /* 최대 너비 설정 */
    margin: 20px auto; /* 중앙 정렬 */
    padding: 20px; /* 패딩 추가 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    background-color: #fff; /* 배경색 */
}

.update-ask-container h1 {
    text-align: center; /* 제목 중앙 정렬 */
    color: #333333; /* 제목 색상 */
    font-weight: bold;
    font-size: 30px; /* 제목 크기 */
    margin-bottom: 20px; /* 제목 아래 여백 */
    margin-top: 10%;
}

.update-ask-container input[type="text"],
.update-ask-container textarea,
.update-ask-container input[type="file"] {
    width: 90%; /* 너비 90% */
    padding: 10px; /* 내부 여백 */
    margin-bottom: 15px; /* 아래 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    font-size: 16px; /* 폰트 크기 */
}

.update-ask-container textarea {
    height: 150px; /* 텍스트 영역 높이 설정 */
    resize: none; /* 크기 조정 비활성화 */
}

.update-ask-container button {
    width: 100%; /* 버튼 너비 100% */
    padding: 10px; /* 내부 여백 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 포인터 커서 */
    background-color: #03c7a6; /* 버튼 색상 */
    color: white; /* 버튼 텍스트 색상 */
    font-size: 16px; /* 버튼 텍스트 크기 */
    font-weight: bold; /* 버튼 텍스트 굵게 */
    transition: background-color 0.3s; /* 부드러운 색상 전환 */
}

.update-ask-container button:hover {
    background-color: #f2994a; /* 호버 색상 */
}

.update-ask-container p {
    margin: 10px 0; /* 여백 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 미디어 쿼리 */
@media (max-width: 375px) {
    .update-ask-container {
        padding: 15px; /* 패딩 감소 */
    }

    .update-ask-container h1 {
        font-size: 24px; /* 제목 크기 감소 */
    }

    .update-ask-container input[type="text"],
    .update-ask-container textarea,
    .update-ask-container input[type="file"],
    .update-ask-container button {
        font-size: 14px; /* 폰트 크기 감소 */
    }
}

@media (max-width: 425px) {
    .update-ask-container {
        padding: 15px; /* 패딩 감소 */
    }

    .update-ask-container h1 {
        font-size: 26px; /* 제목 크기 감소 */
    }
}

@media (max-width: 760px) {
    .update-ask-container {
        max-width: 90%; /* 최대 너비 증가 */
    }
}

@media (max-width: 1024px) {
    .update-ask-container {
        max-width: 80%; /* 최대 너비 증가 */
    }
}

@media (max-width: 1200px) {
    .update-ask-container {
        max-width: 70%; /* 최대 너비 증가 */
    }
}
