/* Liststyles.css */

/* 공통 테이블 스타일 */
.common-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #e0f0ff; /* 파란색 배경 */
}

.common-table th,
.common-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center; /* 가운데 정렬 */
}

.common-table th {
  background-color: rgb(66, 66, 116); /* 헤더 부분의 배경색 */
  color: white; /* 헤더 텍스트 색상 */
}

.common-table img {
  width: 50px;
  height: 50px; /* 이미지 크기 조정 */
}

/* 테이블 내 아이템에 대한 추가 스타일 */
.common-table tr:nth-child(even) {
  background-color: #f2f2f2; /* 짝수 행에 대한 배경색 */
}

.common-table tr:hover {
  background-color: #d1e7ff; /* 마우스 오버 시 행의 배경색 */
}

/* 상품 등록 및 수정 폼 스타일 */
.shop-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.shop-form input,
.shop-form select,
.shop-form button {
  margin: 10px 0; /* 여백 추가 */
  padding: 10px; /* 패딩 추가 */
  border: 1px solid #ddd;
  border-radius: 4px; /* 모서리 둥글게 */
}

.shop-form button {
  background-color: rgb(66, 66, 116); /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  cursor: pointer; /* 커서 포인터로 변경 */
}

.shop-form button:hover {
  background-color: #555; /* 버튼 마우스 오버 색상 */
}

/* 링크 스타일 */
a {
  color: #007bff; /* 기본 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
}

a:hover {
  color: #0056b3; /* 마우스 오버 시 색상 */
  text-decoration: underline; /* 마우스 오버 시 밑줄 추가 */
}
