.order-history {
    width: 100%;
    padding-bottom: 20%;
}

.order-history .order-wrap{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.order-history h2 {
    font-size: 24px;
    margin: 80px;
}


.order-history table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20%;
    box-shadow: none;

}

.order-history th, .order-history td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align:middle;
    background:#fff;
}

.order-history th {
    color: #333;
    background: #f7f7f7;
}

.order-history ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.order-history li {
    margin: 5px 0;
}


@media (max-width: 1280px){
    .order-history .order-wrap{
        width: 100vw;
        max-width: 100%;
        box-sizing: border-box;
    }
}
