/* src/components/PostDetail.css */
.product-detail {
  width: 100%;
  background-color: #fff;
  display: flex;
    flex-direction: column;
}

.sec{
    display: flex;
    justify-content: center;
}

.prodDetail{
    text-align: center;
    width: 60%;
    margin-top: 80px;
}

.product-detail h3 {
    font-size: 24px;
    margin-bottom: 20px;
    white-space: pre-wrap; /* 줄바꿈 유지 */
  }
  
  .youtube-video {
    margin-bottom: 20px;
    border: solid 1px #999;
}

.product-detail p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 10px;
}

.product-detail .price {
    font-size: 1.5em;
    color: #0860d3;
    font-weight: bold;
}

.product-detail .count {
    font-size: 1.2em;
    color: #333;
}

.product-detail .date {
    font-size: 1em;
    color: #999;
}

.product-detail div{
    margin-bottom: 12px;
}

.product-detail .detail {
    margin-top: 100px;
}

.product-detail button{
    width: 180px;
    height: 50px;
    padding: 16px;
    margin-top: 100px;
    /* border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-comment button:hover {
    background-color: #0056b3;
  }
  
  .youtube-preview {
    margin: 10px 0;
  }
  
  .youtube-info {
    margin-top: 5px;
  }
   */
   border: none;
    border-radius: 5px;
    background-color: #00d6b3;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    box-sizing: border-box;
    outline: none;
}

.product-detail button:hover{
    outline: none;
    border: 1px solid #00d6b3;
    background-color: #fff;
    color: #00d6b3;
    cursor: pointer;
    box-sizing: border-box;
  }