#productlist-wrap {
    max-width: 1200px;
    margin: 0 auto 80px auto;
}

#productlist-wrap a:hover{
    text-decoration: none;
    opacity: 100%;
  }

#productlist-wrap .list-tit{
    margin: 48px;
    color: #333;
}

#productlist-wrap .product-section select {
    width: 160px;
    height: 48px;
    padding: 8px;
    border-radius: 6px;
}

#productlist-wrap .product-section {
    width: 100%;
    background: none;
}

#productlist-wrap .sort-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 40px 0;
}

#productlist-wrap .product-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -8px; 
}

#productlist-wrap .product-box {
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
    margin: 8px; 
}

#productlist-wrap .product-box .product-img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    overflow: hidden;
}

#productlist-wrap .product-box .product-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#productlist-wrap .product-box:hover .product-img-container img {
    transform: scale(1.1);
    transition: 0.2s ease-out;
    border-radius: 6px;
}

#productlist-wrap .product-box button {
    position: absolute;
    background: #fff;
    bottom: 15px;
    right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

#productlist-wrap .product-box button:hover {
    color: #03C7A6;
    opacity: 100%;
    
}

#productlist-wrap .product-box .product-name{
    font-size: 16px;
    margin-top: 12px;
    color: #333;
}

#productlist-wrap .product-price {
    font-size: 18px;
    font-weight: 700;
    color: #03C7A6;
    margin: 0;
}

#productlist-wrap .product-box .product-conut {
    font-size: 14px;
    color: #828282;
    margin: 0;
    margin-bottom: 48px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    #productlist-wrap {
        max-width: 100%;
        padding: 0 20px;
    }

    #productlist-wrap .product-box {
        flex: 1 1 calc(33.33% - 16px);
        max-width: calc(33.33% - 16px);
    }
}

@media (max-width: 768px) {
    #productlist-wrap .product-box {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}
